h1 {
    text-align: center;
    border: 1px solid #DBDBDB;
}

.blue {
    border: 1px solid blue;
    color: black;
}

.blue_tr {
    background: #F0F8FF;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.blue_td {
	padding: 10px 137px;
	border: 1px solid blue;
	text-align: center;
}

.grey, th{
	border-style: double;
	background-color: #D3D3D3;
	padding: 1px 137px;
}
td, th{
	text-align: center;
}

.grey_height {
	margin-top: 30px;
	margin-bottom: 10px;
}

.five_thing{
	text-align: center;
	margin-left: 115px;
	font-size: 15px;
	font-weight: bold;
}
.other_fact{
	margin-left: 165px;
	font-size: 15px;
	font-weight: bold;
}
.facts{
	padding: 1px -30px 1px 1px ;
	text-align: left;
	margin-left: 40px;
}

.facts2{
	margin-left: 200px;
	text-align: left;
}
.img_all{
	border: 1px solid #DBDBDB;
}

img {
	padding: 50px 100px;
}




